* {
    margin: 0;
    padding: 0;
}
body {
    background: lightgrey;
    background-attachment: fixed; 
    font-family:Comic Sans MS, sans-serif;      
}
 input {
    display: none;
}
h1 {
    font-family:Comic Sans MS, sans-serif;
    font-size: 3rem;
}

.container { /* контейнер для блока мемов */
    margin: 20px auto;  
    padding: 10px;
    background-color: lightgrey;
    width: 70%;
    min-width: 400px;
    min-height: 590px;
}

label:hover { /* смена курсора */
    cursor: grab;
}
.mem_title:hover { /* смена курсора - ряд гармошки */
    cursor: grabbing;
}
.container label { /* блок мема */
    display: block;
    border-top: 2px solid gray;
    padding: 2%;
}

.mem_title { /* контейнер для зоголовка мема */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p { /*название мема */
    font-size: 1.5rem;
    font-weight: bolder;
}

.img_mem { /* картинка мема */
    display:none;
    margin: auto;
    width: 60%;
    padding-top: 2%;
}

input:checked + label .img_mem { /*вкл картинки мема*/
    display: block;
}

input:checked + label .mem_title_icon {
    transform: rotate(45deg); 
}

.container label:hover .img_mem { /*вкл картинку при наведение на мем*/
    display: block;
    transition: 0.5s;
    transform: scale(0.5);
}

label:hover .mem_title_icon { /*поворот иконки при наведении */
    transition: 0.5s;
    transform: rotate(45deg); 
}

