* {
    margin: 0;
    padding: 0;
}
body {
    background: lightgrey;
    background-attachment: fixed; 
    font-family:Comic Sans MS, sans-serif;      
}
 input {
    display: none;
}
h1 {
    font-family:Comic Sans MS, sans-serif;
    font-size: 3rem;
}

.container { /* контейнер для блока мемов */
    margin: 20px auto;  
    padding: 10px;
    background-color: lightgrey;
    width: 70%;
    min-width: 400px;
    min-height: 590px;
}

label:hover { /* смена курсора */
    cursor: grab;
}
.mem_title:hover { /* смена курсора - ряд гармошки */
    cursor: grabbing;
}
label { /* блок мема */
    display: block;
    border-top: 2px solid gray;
    padding: 2%;
}

.mem_title { /* контейнер для зоголовка мема */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

p { /*название мема */
    font-size: 1.5rem;
    font-weight: bolder;
}

.jacket_for_img {
    margin: 0 auto;
    width: 0;
}

label:hover .jacket_for_img {
    display: block;
    width: 100%;
}

.img_mem { /* картинка мема */
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: width 1s;
   
}

input:checked + label .jacket_for_img { /*вкл картинки мема*/
    width: 100%;
}
input:checked + label .img_mem{ /* ширина для выранного мема */
    width: 80%;
}
input:checked + label .mem_title_icon { /* иконка под углом для выбранного */ 
    transform: rotate(45deg); 
}

label:hover .img_mem { /*вкл картинку при наведение на мем*/
   width: 80%;
    
}

label:hover .mem_title_icon { /*поворот иконки при наведении */
    transition: 0.5s;
    transform: rotate(45deg); 
}

label:active {
    opacity: 0.5;
}

label:active p {
    color:blue;
}